.max-w-8xl{
  max-width: 69rem;
}

.bg-hero{
  background: #ffffff;
}

.logo {
  width: 200px;
  height: 100px;
}


@media only screen and (max-width: 768px) {

 /* Adjust grid layout to 2 columns */
  .partners-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  
  /* Decrease logo heights and remove margin */
  .partners-logo {
    height: 0.5px;
    margin: 0;
  }
  
  /* Decrease font size and remove top margin */
  .partners-text {
    font-size: 18px;
    margin-top: 0;
  }

  .services-grid {
    grid-template-columns: 1fr;
  }

  .theme-text {
    font-size: 23px;
  }

  .sm:w-40 {
    width: 50%; /* Set width to 100% on small devices */
  }

  .text-map p{
    font-size: 11px;
  }

  .text-map h2{
    font-size: 19px;
  }
  
}
